section.number
    .container 
        .number-list 
            +numberItem({
                number: 42,
                text: "Web design project"
            })
            +numberItem({
                number: 23,
                text: "Happy client"
            })
            +numberItem({
                number: 15,
                text: "Award winner"
            })
            +numberItem({
                number: 99,
                text: "Cup of coffee"
            })
            +numberItem({
                number: 24,
                text: "Member"
            })
