section.people
    .container 
        +blockBox({
            caption: "Happy clients",
            heading: "What people say"
        })
        ul.people-list 
            +peopleItem({
                src: "../images/img-people1.png",
                name: "MATTHEW DIX",
                job: "Graphic design",
                desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto error aut ad ut, impedit ea, numquam animi facilis natus sint similique, corporis nam obcaecati tempore"
            })
            +peopleItem({
                src: "../images/img-people2.png",
                name: "Nick karvounis",
                job: "Graphic design",
                desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto error aut ad ut, impedit ea, numquam animi facilis natus sint similique, corporis nam obcaecati tempore"
            })
            +peopleItem({
                src: "../images/img-people3.png",
                name: "JAELYNN CASTILLIO",
                job: "Graphic design",
                desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto error aut ad ut, impedit ea, numquam animi facilis natus sint similique, corporis nam obcaecati tempore"
            })
            +peopleItem({
                src: "../images/img-people4.png",
                name: "MIKE PETRUCCI",
                job: "Graphic design",
                desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto error aut ad ut, impedit ea, numquam animi facilis natus sint similique, corporis nam obcaecati tempore"
            })
            
            
            