section.story 
    .container 
        +blockBox({
            caption: "Our stories",
            heading: "Latest blog"
        })
        ul.story-list 
            +storyItem({
                src: "../images/img-blog1.png",
                date: 15,
                month: "Jan",
                title: "LOREM IPSUM DOLOR SIT AMET",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, dolor quos. Nulla doloremque nesciunt eos fuga perferendis omnis autem ea dolorum tempore, repellat id delectus magnam veritatis nobis possimus nisi.",
                views: 542,
                comments: 17
            })
            +storyItem({
                src: "../images/img-blog2.png",
                date: 14,
                month: "Jan",
                title: "LOREM IPSUM DOLOR SIT AMET",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, dolor quos. Nulla doloremque nesciunt eos fuga perferendis omnis autem ea dolorum tempore, repellat id delectus magnam veritatis nobis possimus nisi.",
                views: 992,
                comments: 42
            })
            +storyItem({
                src: "../images/img-blog3.png",
                date: 12,
                month: "Jan",
                title: "LOREM IPSUM DOLOR SIT AMET",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, dolor quos. Nulla doloremque nesciunt eos fuga perferendis omnis autem ea dolorum tempore, repellat id delectus magnam veritatis nobis possimus nisi.",
                views: 1560,
                comments: 98
            })
section.map 
    .container  
        .map-content 
            img.map-image(src="../images/img-map-icon.png")
            h2.map-heading Open map
            
            