section.quote
    .container 
        .quote-container 
            +quoteItem({
                src: "../images/img-quote-avatar.png",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in laborum porro, pariatur deleniti quod! Est, quos pariatur porro beatae voluptas asperiores mollitia. Ipsam, ad atque odit suscipit asperiores consequatur!",
                author: "Joshua Earle",
                type: true
            })
            +quoteItem({
                src: "../images/img-quote-avatar.png",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in laborum porro, pariatur deleniti quod! Est, quos pariatur porro beatae voluptas asperiores mollitia. Ipsam, ad atque odit suscipit asperiores consequatur!",
                author: "Joshua Earle",
                type: true
            })
            +quoteItem({
                src: "../images/img-quote-avatar.png",
                desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta in laborum porro, pariatur deleniti quod! Est, quos pariatur porro beatae voluptas asperiores mollitia. Ipsam, ad atque odit suscipit asperiores consequatur!",
                author: "Joshua Earle",
                type: true
            })