section.wedo 
    .container
        +blockBox({
            caption: "What we do",
            heading: "store about us",
            desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet delectus accusamus facilis impedit voluptas temporibus a quis voluptates necessitatibus inventore rerum dolore officia itaque vero aspernatur, laborum illum. Labore, quos."
        })
        .wedo-container#accordion
            img(src="../images/img-wedo.png").wedo-image
            .wedo-content
                +wedoItem({
                    src: "../images/img-wedo-icon1.png",
                    title: "Photography",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est accusamus impedit, aut ex architecto, illo eveniet iste nisi, possimus ea. Odit commodi suscipit debitis rem vitae sint dolorem qui?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est accusamus impedit, aut ex architecto, illo eveniet iste nisi, possimus ea. Odit commodi suscipit debitis rem vitae sint dolorem qui?",
                    active: "active"
                })
                +wedoItem({
                    src: "../images/img-wedo-icon2.png",
                    title: "Creativity",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est accusamus impedit, aut ex architecto, illo eveniet iste nisi, possimus ea. Odit commodi suscipit debitis rem vitae sint dolorem qui?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est accusamus impedit, aut ex architecto, illo eveniet iste nisi, possimus ea. Odit commodi suscipit debitis rem vitae sint dolorem qui?"
                })
                +wedoItem({
                    src: "../images/img-wedo-icon3.png",
                    title: "Web design",
                    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est accusamus impedit, aut ex architecto, illo eveniet iste nisi, possimus ea. Odit commodi suscipit debitis rem vitae sint dolorem qui?Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi est accusamus impedit, aut ex architecto, illo eveniet iste nisi, possimus ea. Odit commodi suscipit debitis rem vitae sint dolorem qui?"
                })
                
                


