.about{
   padding-top: 9.3rem;
   padding-bottom: 11rem;
   background-color: white;
   &-list{
      //display: flex;
      //flex-wrap: wrap;
      //margin-left: -3rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 3rem;
      
   }
   &-image{
      width: 100%;
      height: 25rem;
   }
   &-content{
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 2rem;
   }
   &-title{
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 1.5;
      @include textClamp();
   }
   &-icon{
      font-size: 2rem;
      margin-bottom: 1rem;
   }
//------------------------Responsive-1200px-----------------//
   @include maxWidth(1200px){
      &-image{
         height: 22.5rem;
      }
   }
//------------------------Responsive-1024px-----------------//
   @include maxWidth(1024px){
      &-image{
         height: 20rem;
      }
   }
//------------------------Responsive-767px-----------------//
   @include maxWidth(767px){
      padding-top: 5rem;
      padding-bottom: 5rem;
      &-list{
         @include touchSlider(70%);
      }
      &-image{
         height: 30rem;
      }
      
   }
//------------------------Responsive-576px-----------------//
   @include maxWidth(576px){
      &-image{
         height: 22rem;
      }
   }
//------------------------Responsive-425px-----------------//
   @include maxWidth(425px){
      &-image{
         height: 18rem;
      }
   }
}
@include hoverEffect(".about-item",".about-content");