.footer{
    &-top{
        padding: 7rem 0;
        @include flexbox(row,stretch,space-between);
    }
    &-column1{
        width: 40%;
    }
    &-column2{
        width: 33%;
    }
    &-column3{
        width: 23%;
    }
    &-heading{
        text-transform: uppercase;
        font-weight: 500;
        height: 4rem;
        display: inline-block;
        margin-bottom: 2rem;
        &--logo{
            text-transform: none;
            font-size: 4.6rem;
            color: $gray-dark-color;
            font-weight: 600;
        }
    }
    &-desc{
        margin-bottom: 2.5rem;
        margin-top: 2.2rem;
        line-height: 1.6;
    }
    &-follower{
        strong {
            font-weight: bold;
            font-size: 1.8rem;
        }
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 2px solid $gray-color;
    }
    &-social{
        @include flexbox;
        margin-bottom: 3.5rem;
    }
    &-follow-us{
        align-self: flex-end;

    }
    &-social-icon{
        color: $third-color;
        margin-left: 1.5rem;
        font-size: 2rem;
    }
    &-form{
        width: 100%;
        max-width: 38rem;
        @include flexbox();
    }
    &-form-input{
        background-color: white;
        padding: 1.5rem;
        border: 2px solid $gray-color;
        border-right: 0;
        font-family: $secondary-font;
        font-style: italic;
        width: 100%;
        border-radius: 0;
    }
    &-form-button{
        color: white;
        text-transform: uppercase;
        padding: 1.5rem 3.5rem;
        border: 0;
        background-color: $third-color;
        font-weight: bold;
        flex-shrink: 0;
        font-size: 1.3rem;
        border-radius: 0;
    }
    &-blog-item{
        @include flexbox(row,center);
        margin-bottom: 3rem;     
    }
    &-blog-image{
        @include size(12rem,8rem);
        object-fit: cover;
        flex-shrink: 0;
    }
    &-blog-info{
        padding-left: 2rem;
    }
    &-blog-title{
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.4;
        color: $title-color;
        @include textClamp(2);
    }
    &-images{
        @include flexbox(row,stretch,flex-start,wrap);
        margin-left: -2px;
    }
    &-image{
        margin-left: 2px;
        width: calc(33.33% - 2px);
        margin-bottom: 2px;
        padding-bottom: 33.33%;
        height: 0;
        position: relative;
        img{
            @include size(100%,100%);
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &-image-more{
        font-size: 1.3rem;
        font-family: $secondary-font;
        color: $title-color;
        cursor: pointer;
        display: inline-block;
        margin-top: 0.8rem;
    }
    &-bottom{
        padding: 2.5rem 0;
        text-align: center;
        border-top: 2px solid $gray-color;
        font-weight: bold;
        font-size: 1.4rem;
        span{
            color: $primary-color;
        }
    }
    @include maxWidth(1023px){
        &-top{
            display: block;
            padding-bottom: 3rem;
            padding-top: 3rem;
        }
        &-column1,
        &-column2,
        &-column3{
            width: 100%;
            margin-bottom: 3rem;
        }
        &-column3{
            margin-bottom: 0;
        }
    }
    @include maxWidth(479px){
        &-form-button{
            padding: 1.5rem 2rem;
        }
    }
}